.bigBox h1 {
  display: flex;
  margin-left: 5%;
  justify-content: start;
  align-items: center;
  font-family: "Mr Dafoe";
  font-size: 7rem;
  width: 450px;
}
.metronome {
  text-align: center;
  width: 375px;
  margin: 10rem 5%;
  padding: 30px;
  font-weight: bold;
  color: #fff;
}
.bpm-slider input {
  width: 100%;
  margin: 10px;
}
.metronome button {
  margin-top: 1rem;
  background: #c94d46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
}

body {
  background: url(metronome1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

@media (max-width: 495px) {
}
